.header {

	&__titleWrap {
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin: 12px 0 12px 0;
	}

	&__headerTitle {
		width: 100%;
		text-align: center;
	}

	&__form {
		width: 100%;
	}
}