doctype html
html(lang="en")
	block vars
	head
		block title
			title #{pageTitle} - Website
		link(rel='stylesheet', href='/styles/style.min.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js')
		script(src='//d3js.org/d3.v3.min.js', charset='utf-8')
		script(src="/scripts/playcanvas-stable.min.js")
		script(src="/scripts/graphdata.js")
		script(type='text/javascript').
			SCENE_PATH = "391630.json";

	body(class='#{bodyClass}')

		header.siteHeader
			img#terugknop(src="/assets/images/knop-terug.png")
			.container
				script(src='/scripts/__start__.js')
				script(src='/scripts/__loading__.js')
				block header
					.header__titleWrap
						//- h3#display_id_div.header__headerTitle Hover over stadsdeel
						h2.header__headerTitle Vergelijking tussen Vuil en Hotelprijzen in Amsterdam Centrum
						form.header__from(action='')
							label.header__fromLabel Vuil
							input#checkboxvuil.header__fromItem(type='checkbox', name='toggle', value='Vuil')
							label.header__fromLabel Geld
							input#checkboxgeld.header__fromItem(type='checkbox', name='toggle', value='Geld')
						button#tooltipButton.header__tooltipButton Hide legenda
						#tooltipWindow.header__tooltipBox
							.header__tooltipImgWrapper
								h3.header__tooltipTitle AirBnB prijzen:
								.header__hotelImgWrapper
									.header__imgtextwrap
										img.header__tooltipImg(src='/assets/images/hotel1.png')
										p.header__tooltipText Prijs: &euro; 50
									.header__imgtextwrap
										img.header__tooltipImg(src='/assets/images/hotel2.png')
										p.header__tooltipText Prijs: &euro; 1500
								h3.header__tooltipTitle Waarderingscijfer schoon:
								.header__vuilImgWrapper
									.header__imgtextwrap
										img.header__tooltipImg(src='/assets/images/vuilnisbak1.png')
										p.header__tooltipText Cijfer: 10
									.header__imgtextwrap
										img#vuilnisbakveel.header__tooltipImg(src='/assets/images/vuilnisbak2.png')
										p.header__tooltipText Cijfer: 1
								h3.header__tooltipTitle Uitleg datavisualisatie
								p.header__tooltipparagraph Deze website vergelijkt de AirBnB prijzen in Amsterdam Centrum met hoe vuil of hoe schoon het daar is. Dit om inzicht te krijgen in de verhoudingen hier tussen.

		block stadsdeel
		
		.siteFooter
			.container
				block footer
					.footer__footWrapper
						ul.footer__credits
							li.footer__name Copyright 2015 &copy; - 
							li.footer__name Herbert,  
							li.footer__name Kasper,  
							li.footer__name Jaimie &amp; 
							li.footer__name Jarno
		script(src='/scripts/citypartgraphs.js')
		