extends ./views/_layout.jade
block vars
	- var pageTitle = 'Home'
	- var bodyClass = 'home'

block stadsdeel
	.container
		.stadsdeel__wrapper
				section#another-element1.stadsdeel__graphContainer
					p.stadsdeel__graphTitle Prijzen AirBnB
					div.graph