extends ./views/_layout.jade
block vars
	- var pageTitle = 'Home'
	- var bodyClass = 'home'

block centrum
	.container
		.home__centrumWrapper
			a#Stadsdeel1.home__block(href='stadsdeel1.html')
				img.home__placeImg(src='assets/images/placeholder.jpg')
			a#Stadsdeel2.home__block(href='stadsdeel2.html')
				img.home__placeImg(src='assets/images/placeholder.jpg')
			a#Stadsdeel3.home__block(href='stadsdeel3.html')
				img.home__placeImg(src='assets/images/placeholder.jpg')
			a#Stadsdeel4.home__block(href='stadsdeel4.html')
				img.home__placeImg(src='assets/images/placeholder.jpg')
			a#Stadsdeel5.home__block(href='stadsdeel5.html')
				img.home__placeImg(src='assets/images/placeholder.jpg')
			a#Stadsdeel6.home__block(href='stadsdeel6.html')
				img.home__placeImg(src='assets/images/placeholder.jpg')
			a#Stadsdeel7.home__block(href='stadsdeel7.html')
				img.home__placeImg(src='assets/images/placeholder.jpg')
			a#Stadsdeel8.home__block(href='stadsdeel8.html')
				img.home__placeImg(src='assets/images/placeholder.jpg')
			a#Stadsdeel9.home__block(href='stadsdeel9.html')
				img.home__placeImg(src='assets/images/placeholder.jpg')
			a#Stadsdeel10.home__block(href='stadsdeel10.html')
				img.home__placeImg(src='assets/images/placeholder.jpg')