extends ./views/_layout.jade
block vars
	- var pageTitle = 'Stadsdeel vier'
	- var bodyClass = 'stadsdeel'

block stadsdeel
	.container
		#deel4.stadsdeel__wrapper
			.stadsdeel__sectionWrapper
				h1.stadsdeel__mainTitle Stadsdeel 4
				img#amsterdam4.stadsdeel__mainImg(src='assets/images/placeholder.jpg', alt='image')

			.stadsdeel__sectionWrapper
				section#another-element4.stadsdeel__graphContainer
					p.stadsdeel__graphTitle Gemiddelde prijzen AirBnB Kamer
					svg#grafiek4.stadsdeel__svgGraph